/* CSS-Anpassungen bitte hier */

body {
    background-color: rgba(0, 0, 0, 0.98);
}

.container {
    background-color: rgba(0, 0, 0, 0.98);
    color: #fff;
}

.part {
    text-align: center;
}

.content {
    /*background-color: rgba(0, 0, 0, 0.98);*/
    color: #fff;
    /*display: -ms-grid;
    display: grid;*/
}

.site-name {
    font-size: 20px
}

.slogon {
    font-size: 15px;
}

.title {
    /*border: 1px solid red;*/
    text-transform: uppercase;
    /*background-color: rgba(0, 0, 0, 0.98);*/
    text-align: center;
    text-align: -webkit-center;
    margin-left: 20%;
    margin-right: 20%;
    /*display: -ms-grid;
    display: grid;*/
}

.title a:link,
.title a:visited,
.title a:active {
    text-decoration: none;
    color: #fff;
    /*color: #f00;*/
}

.title:hover a {
    color: #C0CE00;
}

.navbar-nav {
    list-style-type: none;
    text-decoration: none;
    width: 100%;
    margin: auto;
    padding: 0px;
}

.navbar-nav>li:hover {}

.navbar-nav>li {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    /*margin: 0px !important;
    padding: 0px !important;*/
}

@media only screen and (max-width:889px) {
    .part {
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 2%;
    }
}


/*for mobile*/

@media only screen and (max-width:767px) {
    .navbar-nav>li {
        margin-top: 7px;
        margin-bottom: 3px;
        /*margin: 0px !important;
    padding: 0px !important;*/
    }
    /*.part {
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 2%;
    }*/
}

@media only screen and (min-width:890px) {
    .part {
        /*padding-left: 2%;
    padding-right: 2%;*/
        display: inline-block;
        width: 29%;
        margin-right: 2%;
        margin-left: 2%;
    }
}


/*for desktop & tablet*/

@media only screen and (min-width:768px) {
    .navbar-nav>li {
        /*display: inline-block;*/
        width: 16%;
        /*text-align: center;
        text-transform: uppercase;*/
        /*margin: 0px !important;
    padding: 0px !important;*/
    }
    .navbar-nav {
        position: static;
        position: --ms-device-fixed;
        top: 0px;
        left: 0px;
    }
    /*.part {
      
    display: inline-block;
    width: 29%;
    margin-right: 2%;
    margin-left: 2%;
}*/
}

.navbar a:link,
.navbar a:visited {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover,
.navbar a:active {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #C0CE00;
}

.navbar {
    /* background-color: rgba(0, 0, 0, 0.98);*/
    display: -ms-grid;
    display: grid;
    /* height: 68px;*/
}

.footer-wrapper {
    text-align: center;
    /*background-color: rgb(235, 235, 231);*/
}


/*.navbar a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: none;*/


/*text-decoration-line: underline;
    text-decoration-style: initial;
    text-decoration-color: initial;*/


/*}*/