/* CSS-Anpassungen bitte hier */

.content {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.part {
    display: none;
}

.partimg[temp-src] {
    opacity: 0;
}

.partimg {
    height: 60%;
    width: 100%;
    opacity: 1;
    transition: opacity 0.4ms;
}

.dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #717171;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.activedot {
    background-color: black;
}